/* Empty. Add your own CSS if you like */

a.item{
	border-color: transparent;
}

.head-text {
	color:#DDD;
	font-weight:300;
}

.center-align {
	margin-left: auto;
	margin-right: auto;
}

/* Login Signup Modal's styles */
/*=============================*/
#login-signup-modal-view {
	background-image: url("../img/login_signup_bg.png");
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground 120s linear infinite;
	-webkit-animation-name: animatedBackground;
	-webkit-animation-duration: 120s; 
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: infinite;
}

#login-signup-modal-view-header {
	background-color: transparent;
	border-bottom: none;
	font-size: 20px;
}

@-webkit-keyframes animatedBackground {
	from { background-position: 0 0;}
	to {background-position: 100% 0;}
}

@keyframes animatedBackground {
	from { background-position: 0 0;}
	to {background-position: 100% 0;}
}

/* Iphone 4 & 5 */
@media screen and (max-height: 570px){
	#login-signup-modal-view{
		background-image: url("../img/login_signup_h570.png");
	}
}

@media screen and (max-width: 320px) and (orientation: portrait){
	#login-signup-title{ width:50%;}
	#login-signup-subtitle{ width:75%;}
}

@media screen and (max-width: 570px) and (orientation: landscape){
	#login-signup-title{ width:26%;}
	#login-signup-subtitle{ width:42%;}	
}

/* 5.5" Devices (e.g. LG G3) */
@media screen and (min-height: 571px) and (max-height: 950px) and (orientation: portrait){
	#login-signup-modal-view{
		background-image: url("../img/login_signup_h948.png");
	}
}

@media screen and (min-width: 321px) and (max-width: 534px) and (orientation: portrait){
	#login-signup-title{ width:45%;}
	#login-signup-subtitle{ width:75%;}
}
